<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="http://localhost:3030/styles.css">
</head>
<body>
    <main>
        <h1> Login to student account </h1>
        
  
        <form action="/studentLogin" method="POST">  

          <p>
              <label for="mail">E-mail</label>
              <input type="email" name="email" id="mail"   required>
          </p>
          
          <p>
              <label for="pass">Student_ID</label>
              <input type="password" name="student_id" id="pass"  required minlength="6">
          </p>
          
  
          <button class="btn">Login</button>
  
        </form>
  
     </main>
</body>
</html>