<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="http://localhost:3030/styles.css">
</head>
<body>
    <main>
        <h1> Login to account </h1>
        
        
  
        <form action="/login" method="POST">  

          <p>
              <label for="mail">E-mail</label>
              <input type="email" name="email" id="mail"   required>
          </p>
          
          <p>
              <label for="pass">Password</label>
              <input type="password" name="password" id="pass"  required minlength="6">
          </p>
          
  
          <button class="btn">Login</button>
          <p><a href="/">or SignUp instead</a></p>
  
        </form>
  
     </main>
</body>
</html>