<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marks</title>
</head>
<body>
    <form action="/createMarks" method="POST">
<p>
    <label for="name">Student Name</label>
    <input type="text" name="name" id="name">
</p>

<p>
    <label for="sub">Subject</label>
    <input type="text" name="subject" id="sub">
</p>

<p>
    <label for="score">Score</label>
    <input type="number" name="score" id="score">
</p>

<p>
    <label for="sem">Semester</label>
    <input type="text" name="semester" id="sem">
</p>

<p>
    <label for="type">Mark Type</label>
    <input type="text" name="markType" id="type" placeholder="Either Test or Examination">
</p>

<button>Create</button>

    </form>
</body>
</html>