<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Message</title>
</head>
<body>
    <form action="/updateMessage/<%= edit._id %>" method="POST">
        <p>
            <label for="title">Message Title</label>
            <input type="text" name="title" id="title" required value="<%= edit.title %>">
        </p>

        <p>
            <label for="mess">Body</label>
            <textarea name="message" id="mess" cols="30" rows="10" required value="<%= edit.message %>"></textarea>
        </p>

        <button>Update</button>
    </form>
</body>
</html>